@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary-color: #003699;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --lose-color: #dc3545;
    --win-color: #28a745;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #ccc;
    color: #000000;
}

.container {
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.header {
    text-align: center;
    margin: 2rem 0;
}

.header h1 {
    margin-top: 3rem;
}

#instruction {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.score {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 1.5rem;
    max-width: 250px;
    margin-left: 2rem;
}

.score p:first-child {
    background: var(--primary-color);
    border-radius: 20px;
    color: #fff;
}

.score p:last-child {
    background: var(--win-color);
    border-radius: 20px;
}

.restart-btn {
    display: none;
    background: var(--light-color);
    color: #333333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 1rem;
    margin-left: 2rem;
}

.restart-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.choices {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.1rem;
    margin-top: 3rem;
    text-align: center;
}

.choices img {
    max-width: 150px;
}

.choice {
    cursor: pointer;
}

.text-win {
    color: var(--win-color);
}

.text-lose {
    color: var(--lose-color);
}

@media(max-width: 1000px) {
    .choices img {
        max-width: 110px;
    }
}

@media(max-width: 800px) {
    .choices img {
        max-width: 80px;
    }
}